	/* Body Text Color */
		body {
  		color:#000;
    }
	
    /* Body Links Color */
        a{
    	color:#FF4D4D;
	}
			a:hover {
	    color:#D90000;
	}
	
	/* Logo Text Color */
		h1.textlogo a {
		color:#FF4D4D;
	}
	
   	/* Headings Color */
   		h1 {
		color:#FF4D4D;
	}
	
	/* Sidebar Headings Color */
   		aside h3  {
		color:#3F3F3A;
	}
	
	/* Post Title Link Color */
		.main article h2 a {
    	color:#FF4D4D;
	}
			.main article h2 a:hover {
	    color:#D90000;
	}
	
	/* Navigation Link Color */
		nav ul li a {
    	color:#8C8C7B !important;
	}
			nav ul li a:hover,
	nav ul li.current-menu-item a,
	nav ul li.current-post-parent a,
	nav ul li a:hover,
	nav ul li.current-menu-item a,
	nav ul li.current-post-parent a {
		color:#FFFFFF !important;
	}
		
			.top-bar {
		  background-color:#FF4D4D;
		}
        
.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}